<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<title>Insert title here</title>
</head>
<body>
<h1>Login page</h1>
<p th:if="${loginError}" class="error">帳號或密碼錯誤</p>
<form th:action="@{/login}" method="post">
    <label for="username">UserId</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Login" />
</form>
</body>
</html>